body{
    background-color: #2c2c54;
    font-family: 'Roboto', sans-serif;
    color: #f7f1e3;
    margin: 0%;
    padding: 0%;
}

.header{
    background-color: #232343;
    min-height: 13vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

.header h1{
    text-align: center;
    margin: 0px;
    color: #ff5252;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    flex-grow: 6;
}

.backButton {
    color: #ff5252;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-style: bold;
    font-size: 20px;
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
}

.icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    margin-left: 10px;
}

.icon-arrow{
    background-image: url("../img/back-arrow.svg");
    margin-bottom: -3px;
}

.flex-1{
    flex-grow: 1;
}

.chatContainer{
 width: 80%;
 margin: 0 auto;
 height: 74vh;
 box-sizing: border-box;  
 border: 2px solid white;
 background-color: #49495d;
 color: #f7f1e3;
 overflow: auto;
 overflow-x: hidden;
}

.chatContainer p {
    padding: 0 20px;
}

.chatFooter{
    width: 80%;
    margin: 0 auto;
    min-height: 9vh;
    box-sizing: border-box;  
    border: 2px solid white;
    padding: 10px;
    margin-bottom: 2vh;
}

.chatFooter form{
    display: flex;
    justify-content: space-around;
}

.chatFooter button{
    font-size: 20px;
    background-color: rgba(255, 82, 82,0.8);
    color: white;
    border:none;
    border-radius: 6px;
    padding: 16px;
    outline:none;
    transition: 1s all;
    float: right;
    flex-grow: 1;
}

.chatFooter button:hover {
    cursor: pointer;
    background-color: rgba(255, 82, 82,1);
}
.chatFooter input{
    border: none;
    border: 3px solid rgba(247, 241, 227,.7);
    background: transparent;
    color: #d1ccc0;
    font-size: 22px;
    flex-grow: 6;
    margin-right: 10px;
    padding-left: 10px;
}

.chatFooter form{
    height: 100%;
}

.chatFooter input:hover, .maininput input:focus, .maininput input:active {
    outline: none;
}

.me{
   color: #218c74;
}

.somebody{
       color: #b33939;
}

@media (max-width: 576px) {
    .chatFooter form {
        flex-direction: column;
        justify-content: center;
    }
    .chatFooter input {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .header{
        flex-direction: column;
        height: 18vh;
    }
    .backButton{
        margin: 10px 0;
    }
}
