body{
    background-color: #2c2c54;
    font-family: 'Roboto', sans-serif;
    color: #f7f1e3;
    margin: 0%;
    padding: 0%;
}

.header{
    background-color: #232343;
    height: 8vh;
    padding-top:5vh;
}

.header h1{
    text-align: center;
    margin: 0px;
    color: #ff5252;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.chatContainer{
 width: 80%;
 margin: 0 auto;
 height: 78vh;
 box-sizing: border-box;  
 border: 2px solid white;
 background-color: #49495d;
 color: #f7f1e3;
 overflow: scroll;
 overflow-x: hidden;
}

.chatFooter{
    width: 80%;
    margin: 0 auto;
    height: 9vh;
    box-sizing: border-box;  
    border: 2px solid white;
}

.chatFooter button{
    font-size: 30px;
    background-color: rgba(255, 82, 82,0.8);
    color: white;
    border:none;
    border-radius: 6px;
    padding: 16px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    outline:none;
    transition: 1s all;
}

.chatFooter button:hover {
    cursor: pointer;
    background-color: rgba(255, 82, 82,1);
}
.chatFooter input{
    width: 88%;
    height: 60%;
    border: none;
    border: 3px solid rgba(247, 241, 227,.7);
    background: transparent;
    color: #d1ccc0;
    font-size: 22px;
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
    position: relative;
    left: 1%;
    
}

.chatFooter input:hover, .maininput input:focus, .maininput input:active {
    outline: none;
}

.me{
   color: #218c74;
}

.somebody{
       color: #b33939;
}